
<div class="wrapper">
<div class="author">
  <img src="../images/authors.jpg" alt="authors" height="10%" width="10%">
</div>
<div class="books">
  <img src="../images/books.jpg" alt="books" height="10%" width="10%">
</div>
</div>
{{#each books}}
  <div class="row">
    <div class="col-xs-6">
      <img class="book_cover" src="{{img}}" alt="book covers">
    </div>
    <div class="col-xs-6">
      <h2>{{title}}</h2>
      <h4>{{genera}}</h4>
      <p>{{description}}</p>
    </div>
  </div>
{{/each}}
