{{#each books}}
  <div class="row">
    <div class="col-xs-6">
      <img class="book_cover" src="{{img}}" alt="">
    </div>
    <div class="col-xs-6">
      <h2>{{title}}</h2>
      <h4>{{genera}}</h4>
      <p>{{description}}</p>
    </div>
  </div>
{{/each}}
