<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
      <header class="logo">
        <img class="book_logo" src='/images/book_logo.png'>
        <h1 class="logo_text">Phils Books</h1>
      </header>
    {{{body}}}
  </body>
</html>
